body {
    font-family: 'Montserrat';
    color:#707070;
    font-size: 20px;
}

A {
	text-decoration: none;
	color: inherit;
}

A:hover {
	color:#67679F;
/*	font-style: italic;*/
	font-weight: bold;
}

#background { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.main-container {
	display: flex;
    align-items: center;
	background-color: white;
	width: 100%;
	padding: 10px 5px 10px 5px;
	/*position: fixed;*/
}

#background {
	position:absolute;
	overflow: hidden;
}

#logo {
	width: 100px;
	height: 100px;
}

#logo:hover {
	transform: scale(1.12) perspective(1px);
}

#links-container {
	float: right;
	margin-left: 50%;
}


.links {
	padding: 12px;
	display: inline-block;
}

#hello {
	font-size:72px;
	color:#67679F;
	font-style: ExtraBold;
	text-align: center;
	/*background-color: white;*/
}

#title {
	font-size:50px;
	color:#67679F;
	font-style: ExtraBold;
	text-align: center;
		/*background-color: white;*/

}

#welcome-message {
	text-align: center;
	width:45%;
	margin: 0 auto;
	/*padding-top: 20px;*/
	/*color:black;*/
}



/*about pg*/
#me-pic {
	height: 250px;
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

#about-text {
	width:75%;
	margin: 0 auto;
	margin-top: 50px;
}


/*experience pg*/
.experience-container {
	display: flex;
	margin-right: 10%;
	margin-top: 5%;
}
.experience-pic {
	margin-top: 2%;
	margin-left: 5%;
	height:30%;
	display:inline-block;
}

#workday-pic {
	width: 15%;
	height:10%;
}

#anova-pic {
	width:20%;
}

.experience-title-container {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: 22%;
	margin-bottom: -5%;
}
.experience-pos {
	margin-right: -50%;
	margin-left: 22%;
}

.experience-date {
	position: absolute;
    right: 20px;
    left: auto;
    z-index: 100;
    margin-right: 10%;
}

.block {
	margin-left: -10%;
}

#workday-block {
	margin-left: -6%;
}

#workday-pos {
	margin-top: -5%;
}

.experience-text {
	margin-left: 20%;
}





/*project pg*/
.proj-pic {
	width: 30%;
	height:20%;
}
.proj-container {
	display: flex;
	margin-right: 10%;
	margin-top: 5%;
}
.proj-pic {
	margin-top: 2%;
	margin-left: 5%;
	height:30%;
	display:inline-block;
}



.proj-title-container {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: 22%;
	/*margin-bottom: -5%;*/
	/*margin-top: -10%;*/
}

.proj-date {
	position: absolute;
    right: 20px;
    left: auto;
    z-index: 100;
    margin-right: 10%;
}

.proj-block {
	margin-left: -10%;
}

/*#workday-block {
	margin-left: -6%;
}*/

.proj-text {
	margin-left: 20%;
}



/*travel pg*/
#note {
	margin-left: 12%;
}
.travel-title {
	margin-left: 12%;
}

.travel-title-container {
	margin-top: 10%;
	display: flex;
	justify-content: space-between;
	margin-left: 11%;
	/*width: 100%;*/
	width:75%;
}

.travel-date {
	/*align-self: flex-end;*/
	margin-left:auto;
}

.travel-text {
	width:75%;
	margin: 0 auto;
}

#row {
	display: flex;
	width:50%;
	margin: 0 auto;
	flex-wrap: wrap;
}

.image {
	height: 80px;
	width: 120px;
	padding: 10px;
	cursor: pointer;
}

/*.img1:hover {
	transform: scale(10,10);
}*/

.carousel-container {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
	background-color: grey;
	height: 337px;
	width: 450px;
	overflow: hidden;
}

.carousel-strip {
	transition: 0.4s;
	position: absolute;
	left: 0px;
	display: flex;
}

.carousel-section {
	height: 337px;
	width: 450px;
	position: relative;
}

.carousel-section img {
	width:450px;
}

.left, .right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 3;
	padding: 20px;
	font-size: 48px;
	color: white;
}

.left {
	left: calc(50% - 50vh);
}

.right {
	right: calc(50% - 50vh);
}

.close {
	cursor: pointer;
	color: white;
	font: 36px/100% arial, sans-serif;
  	position: absolute;
	right: 20px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 20px;
	z-index: 3;
}

.overlay {
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	top: 0px;
	left: 0px;
}



#footer {
	padding-top: 200px;
	text-align: center;
	margin:auto;
	position: relative;
    bottom: 0;
    width: 100%;
}

.circle {
	margin:0 auto;
	width:50px;
	height:50px;
	display: inline-block;
	padding: 5px;
	margin: 0 auto;

}

.circle:hover {
    transform: translateY(-7px);
    cursor: pointer;
/*    border-color: #3b8874;
*/    transition-duration: 0.5s;
}